[Unit]
Description=%p container
Requires=service.system.docker.service
After=service.system.docker.service

[Service]
Restart=always
RestartSec=10s
TimeoutStartSec=0
#ExecStartPre=-/bin/sh -c "mkdir -p /media/Seagate\ Expansion\ Dr/watch /media/Seagate\ Expansion\ Dr/torrent /media/Seagate\ Expansion\ Dr/incomplete /storage/%p/config"
ExecStart=/storage/.kodi/addons/service.system.docker/bin/docker run \
          --rm \
          --name=%p \
          -h=libreelec-%p \
          -v=/storage/watch:/watch \
          -v=/storage/downloads:/downloads \
          -v=/storage/incomplete:/incomplete \
          -v=/storage/%p/config:/config \
          -p=9091:9091 \
          -p=45555:45555 \
          libreelecarm/%p
ExecStop=/storage/.kodi/addons/service.system.docker/bin/docker stop %p

[Install]
WantedBy=multi-user.target
